<div data-controller="collapsible">
  <div class="flex flex-col gap-half">
    <div class="flex items-center justify-between gap pi-4">
      <h4 class="text-sm font-semibold">
        @lazaronixon starred 3 repositories
      </h4>
      <button class="btn btn--borderless p-2" data-action="collapsible#toggle">
        <%= image_tag "chevrons-up-down.svg", size: 16, aria: { hidden: true } %>
        <span class="sr-only">Toggle</span>
      </button>
    </div>
    <div class="rounded-md border pi-4 pb-3 mbs-2 text-sm">
      @rails/rails
    </div>
  </div>
  <details data-collapsible-target="details">
    <summary hidden></summary>
    <div class="rounded-md border pi-4 pb-3 mbs-2 text-sm">
      @rails/jbuilder
    </div>
    <div class="rounded-md border pi-4 pb-3 mbs-2 text-sm">
      @rails/jsbundling-rails
    </div>
  </details>
</div>