<div class="flex flex-col gap-half">
  <h4 class="text-sm leading-none font-medium">CSS Zero</h4>
  <p class="text-sm text-subtle">An open-source UI component library.</p>
</div>

<div class="separator mb-4" aria-hidden="true"></div>

<div class="flex items-center text-sm gap" style="--column-gap: 1rem; block-size: 1.25rem;">
  <div>Blog</div>
  <span class="separator-vertical" aria-hidden="true"></span>
  <div>Docs</div>
  <span class="separator-vertical" aria-hidden="true"></span>
  <div>Source</div>
</div>
