<div class="flex items-center gap">
  <div>Blog</div>
  <hr class="mi-2 border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
  <div>Docs</div>
  <hr class="mi-2 border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
  <div>Source</div>
</div>