<div class="flex items-center gap" style="--column-gap: 1rem">
  <div>Blog</div>
  <hr class="border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
  <div>Docs</div>
  <hr class="border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
  <div>Source</div>
</div>