<div class="flex items-center gap">
  <div>Blog</div>
  <hr class="mi-2 pb-4 border-is" aria-hidden="true">
  <div>Docs</div>
  <hr class="mi-2 pb-4 border-is" aria-hidden="true">
  <div>Source</div>
</div>