<div class="command" style="max-inline-size: 450px" data-controller="command" data-action="combobox-commit->command#commit" data-command-active-class="command__list--filtering" data-command-selected-class="selected">
  <label class="command__input input input--actor flex items-center gap">
    <span class="icon icon--search" aria-hidden="true"></span>
    <%= text_field_tag "search", nil, data: { command_target: "input", action: "command#filter" }, autocomplete: "off", placeholder: "Filter..." %>
  </label>
  <div class="command__list" data-command-target="list" role="listbox" aria-label="Commands">
    <%= render "command_options" %>
    <div class="command__empty">Not results found.</div>
  </div>
</div>
