<div data-controller="dialog">
  <button class="btn" data-action="dialog#showModal">Show command</button>

  <dialog class="dialog" style="max-inline-size: 430px;" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside">
    <button class="btn btn--plain dialog__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>

    <div class="command" style="max-inline-size: 450px" data-controller="filter list" data-action="filter:after->list#reset" data-filter-active-class="command__list--filtering" data-filter-selected-class="selected">
      <label class="command__input input input--actor flex items-center gap">
        <%= image_tag "search.svg", size: 16, aria: { hidden: true } %>
        <%= tag.input type: "search", id: "search", data: { action: "input->filter#filter keydown->list#navigate" }, autofocus: true, autocomplete: "off", placeholder: "Filter..." %>
      </label>
      <div class="command__list" data-filter-target="list" role="listbox" aria-label="Commands" tabindex="0">
        <div class="command__empty">Not results found.</div>
        <%= render "command_options" %>
      </div>
    </div>
  </dialog>
</div>