<div data-controller="dialog">
  <button class="btn" data-action="dialog#showModal">Show command</button>

  <dialog class="dialog" style="--dialog-size: 430px;" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside">
    <button class="btn btn--plain dialog__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>

    <div class="command border-0" data-controller="command" data-command-active-class="command__list--filtering" data-command-selected-class="selected">
      <label class="command__input input input--actor flex items-center gap">
        <%= image_tag "search.svg", size: 16, aria: { hidden: true } %>
        <%= text_field_tag "search", nil, data: { command_target: "input", action: "input->command#filter focus->command#start blur->command#stop" }, autofocus: true, autocomplete: "off", placeholder: "Filter..." %>
      </label>
      <div class="command__list" data-command-target="list" role="listbox" aria-label="Commands">
        <%= render "command_options" %>
        <div class="command__empty">Not results found.</div>
      </div>
    </div>
  </dialog>
</div>