<div class="accordion">
  <details name="my_accordion">
    <summary>How do I reset my password?</summary>
    <p class="pbe-4">
      Click on 'Forgot Password' on the login page, enter your email address, and we'll send you a link to reset your password. The link will expire in 24 hours.
    </p>
  </details>
  <details name="my_accordion">
    <summary>Can I change my subscription plan?</summary>
    <p class="pbe-4">
      Yes, you can upgrade or downgrade your plan at any time from your account settings. Changes will be reflected in your next billing cycle.
    </p>
  </details>
  <details name="my_accordion">
    <summary>What payment methods do you accept?</summary>
    <p class="pbe-4">
      We accept all major credit cards, PayPal, and bank transfers. All payments are processed securely through our payment partners.
    </p>
  </details>
</div>
