<div contents data-controller="context-menu">
  <div class="card text-sm flex items-center justify-center" style="block-size: 150px;" data-action="contextmenu->context-menu#show:prevent click@document->context-menu#hide">
    Right click here
  </div>

  <div popover="manual" class="popover popover--position-none" style="--popover-size: 14rem;" data-context-menu-target="content" role="menu" aria-label="Context Menu">
    <div class="menu"><%= render partial: "menu_items" %></div>
  </div>
</div>
