<div popover class="flash" style="--flash-position: 1rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert">
  <%= image_tag "circle-alert.svg", class: "colorize-white", size: 20, aria: { hidden: true } %>
  <%= tag.span "Contact info was not updated for 3590.8768.6191@hey.com" %>
</div>