<div popover="manual" class="flash" data-controller="flash" data-action="animationend->flash#hide" role="alert">
  <div class="flash__content flex-col">
    <h5 class="font-medium leading-none mbe-1">Account updated successfully</h5>
    <p class="text-subtle text-balance">Sunday, December 03, 2023 at 9:00 AM</p>
   </div>
</div>

<div class="container flex flex-col gap">
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
</div>
