<div popover="manual" class="flash" data-controller="flash" data-action="animationend->flash#hide" role="alert">
  <div class="flash__content flex items-center gap">
    <span class="icon icon--circle-alert" style="--icon-size: 1.25rem" aria-hidden="true"></span>
    <span class="font-medium">Event has not been created</span>
  </div>
</div>

<div class="container flex flex-col gap">
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
</div>
