<div popover class="flash flash--extended" style="--flash-position: 1rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert">
  Contact info was updated for 3590.8768.6191@hey.com
</div>

<div class="container flex flex-col" style="row-gap: 1rem">
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
</div>