<dialog open class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert">
  <%= image_tag "circle-alert.svg", class: "inline mbe-1 mie-1 colorize-negative", size: 20, role: "presentation" %>
  <span>Contact info was not updated for 3590.8768.6191@hey.com</span>
</dialog>