<dialog open class="flash" role="alert" data-controller="element-removal" data-action="animationend->element-removal#remove">
  <%= image_tag "circle-alert.svg", class: "inline mbe-1 mie-1 colorize-negative", role: "presentation", size: 20 %>
  <span>Contact info was not updated for 3590.8768.6191@hey.com</span>
</dialog>