<dialog open class="flash" role="alert" data-controller="element-removal" data-action="animationend->element-removal#remove">
  <%= image_tag "circle-check.svg", class: "colorize-positive mie-1", role: "presentation", size: 20 %>
  <span>Contact info was updated for 3590.8768.6191@hey.com</span>
</dialog>