<div popover="manual" class="flash" data-controller="flash" data-action="animationend->flash#remove" role="alert">
  <div class="flash__content">
    <span class="icon icon--circle-check" style="--icon-size: 1.25rem" aria-hidden="true"></span>
    <span>Contact info was updated for 3590.8768.6191@hey.com</span>
  </div>
</div>

<div class="container flex flex-col gap">
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
</div>
