<label class="input input--actor flex items-center gap">
  <%= image_tag "search.svg", size: 16, aria: { hidden: true } %>
  <%= text_field_tag "actor_field", nil, data: { action: "input->command#filter" } %>
</label>