<label class="input input--actor flex items-center gap-sm">
  <%= image_tag "search.svg", role: "presentation", size: 16 %>
  <%= text_field_tag "text_field", nil, class: "input__character" %>
</label>