<label class="input input--actor flex items-center gap-sm">
  <%= image_tag "search.svg", size: 16, role: "presentation" %>
  <%= text_field_tag "text_field", nil, class: "input__character" %>
</label>