<%= text_field_tag "max_length_field", nil, placeholder: "Full name (max: 10 chars)", maxlength: 10, class: "input" %>
<div feedback class="text-sm text-negative mbs-1">is too long (maximum is 10 character)</div>
