<%= text_field_tag "min_length_field", nil, placeholder: "Full name (min: 3 chars)", required: true, minlength: 3, class: "input" %>
<div class="invalid-feedback text-sm text-negative mbs-1">is too short (minimum is 3 character)</div>