<div class="flex items-center gap">
  <%= range_field_tag "range_vertical_field_1", 7, min: 0, max: 10, class: "range", style: "writing-mode: vertical-lr;" %>
  <%= range_field_tag "range_vertical_field_2", 4, min: 0, max: 10, class: "range", style: "writing-mode: vertical-lr;" %>
</div>