<label data-controller="reveal-button" class="input input--actor flex items-center gap">
  <%= password_field_tag "revealable_field", nil, class: "input__character", "data-reveal-button-target": "input" %>
  <%= button_tag class: "btn btn--plain p-1", data: { reveal_button_target: "button", action: "reveal-button#toggle" } do %>
    <%= image_tag "eye.svg", size: 16, role: "presentation" %>
    <span class="sr-only">Reveal password</span>
  <% end %>
</label>