<%= select_tag :fruits, raw("
  <option value='arth'>Art History</option>
  <option value='finearts'>Fine Arts</option>
  <option value='gdes'>Graphic Design</option>
  <hr>
  <option value='aeroeng'>Aerospace Engineering</option>
  <option value='biochemeng'>Biochemical Engineering</option>
  <option value='civileng'>Civil Engineering</option>
"), class: "input" %>