<%= url_field_tag "url_field", nil, placeholder: "https://example.com", pattern: 'https?://.+', maxlength: "2048", class: "input" %>
<div feedback class="text-sm text-negative mbs-1">is invalid</div>
