<div class="flex items-center gap-sm">
  <%= check_box_tag :status_disabled, checked: true, class: "switch", disabled: true %>
  <%= label_tag :status_disabled, "Airplane Mode", class: "text-sm font-medium" %>
</div>