<div class="flex items-center gap">
  <%= check_box_tag :status_disabled, checked: true, disabled: true, class: "switch", role: "switch" %>
  <%= label_tag :status_disabled, "Airplane Mode", class: "text-sm font-medium" %>
</div>