<div class="flex flex-col items-start gap">
  <div class="skeleton rounded-lg" style="height: 125px; width: 250px;"></div>
  <div class="flex flex-col gap-half">
    <div class="skeleton" style="height: var(--size-4); width: 250px;"></div>
    <div class="skeleton" style="height: var(--size-4); width: 200px;"></div>
  </div>
</div>