<div class="flex items-center gap">
  <div class="skeleton rounded-full" style="height: 3rem; width: 3rem;"></div>
  <div class="flex flex-col gap">
    <div class="skeleton" style="height: 1rem; width: 250px;"></div>
    <div class="skeleton" style="height: 1rem; width: 200px;"></div>
  </div>
</div>