<label class="item item--outline item--check flex items-start">
  <%= check_box_tag :toggle_2, 1, true, class: "input" %>
  <div class="flex flex-col gap-half mis-2">
    <h5 class="text-sm leading-none font-medium">Enable notifications</h5>
    <p class="text-sm text-subtle">You can enable or disable notifications at any time.</p>
  </div>
</label>
