<%= link_to "", class: "item item--link flex items-center justify-between" do %>
  <div class="flex items-center gap">
    <span class="icon icon--circle-check" aria-hidden="true"></span>
    <h5 class="text-sm leading-none font-medium">Your profile has been verified</h5>
  </div>
  <span class="icon icon--chevron-right" aria-hidden="true"></span>
<% end %>
