<div class="item item--muted flex items-center justify-between">
  <div class="flex flex-col gap-half">
    <h5 class="text-sm leading-none font-medium">Muted Variant</h5>
    <p class="text-sm text-subtle">Subdued appearance with muted colors for secondary content.</p>
  </div>
  <%= link_to "Open", "", class: "btn" %>
</div>
