<nav class="tabs__list" aria-label="Preview and Code">
  <%= link_to "", class: "btn tabs__button", aria: { current: "page" } do %>
    <%= image_tag "app-window.svg", size: 16, aria: { hidden: true } %>
    <span>Preview</span>
  <% end %>

  <%= link_to "", class: "btn tabs__button" do %>
    <%= image_tag "code.svg", size: 16, aria: { hidden: true } %>
    <span>Code</span>
  <% end %>
</nav>