<nav class="tabs__list" aria-label="Preview and Code">
  <%= link_to "", class: "btn tabs__button", aria: { current: "page" } do %>
    <span class="icon icon--window" aria-hidden="true"></span>
    <span>Preview</span>
  <% end %>

  <%= link_to "", class: "btn tabs__button" do %>
    <span class="icon icon--code-bracket" aria-hidden="true"></span>
    <span>Code</span>
  <% end %>
</nav>