<nav class="tabs__list" aria-label="Home and Settings">
  <%= link_to "Home", "", class: "btn tabs__button", aria: { current: "page" } %>
  <%= link_to "Settings", "", class: "btn tabs__button" %>
</nav>