<nav class="tabs__list" aria-label="Home and Disabled">
  <%= link_to "Home", "", class: "btn tabs__button", aria: { current: "page" } %>
  <%= link_to "Disabled", "", class: "btn tabs__button", aria: { disabled: true } %>
</nav>