<div class="tabs" style="max-inline-size: 400px" data-controller="tabs">
  <div class="tabs__list" role="tablist">
    <button id="trigger_account"  class="btn" data-tabs-target="button" data-action="tabs#select" data-index="0" aria-controls="tab_account"  role="tab">Account</button>
    <button id="trigger_password" class="btn" data-tabs-target="button" data-action="tabs#select" data-index="1" aria-controls="tab_password" role="tab">Password</button>
  </div>

  <div id="tab_account" aria-labelledby="trigger_account" data-tabs-target="tab" role="tabpanel">
    <%= render "account_form" %>
  </div>

  <div id="tab_password" aria-labelledby="trigger_password" data-tabs-target="tab" hidden role="tabpanel">
    <%= render "password_form" %>
  </div>
</div>