<div class="tabs" style="max-inline-size: 400px" data-controller="tabs" data-tabs-selected-value="tab_account">
  <div class="tabs__list" role="tablist">
    <%= button_tag "Account",  class: "btn", id: "trigger_account",  data: { tabs_target: "button", action: "tabs#select", value: "tab_account" },  role: "tab", "aria-controls": "tab_account" %>
    <%= button_tag "Password", class: "btn", id: "trigger_password", data: { tabs_target: "button", action: "tabs#select", value: "tab_password" }, role: "tab", "aria-controls": "tab_password" %>
  </div>

  <div id="tab_account" role="tabpanel" aria-labelledby="trigger_account" data-tabs-target="tab">
    <%= render "account_form" %>
  </div>

  <div id="tab_password" role="tabpanel" aria-labelledby="trigger_password" data-tabs-target="tab">
    <%= render "password_form" %>
  </div>
</div>