<div class="tabs" style="max-inline-size: 400px" data-controller="tabs">
  <div class="tabs__list" data-action="keydown.left->tabs#prev keydown.right->tabs#next" role="tablist">
    <button id="trigger_account"  class="btn btn--tab" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="tab_account">Account</button>
    <button id="trigger_password" class="btn btn--tab" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="tab_password">Password</button>
  </div>

  <div hidden id="tab_account" data-tabs-target="tab" role="tabpanel" aria-labelledby="trigger_account">
    <%= render "account_form" %>
  </div>

  <div hidden id="tab_password" data-tabs-target="tab" role="tabpanel" aria-labelledby="trigger_password">
    <%= render "password_form" %>
  </div>
</div>