<div class="tabs" data-controller="tabs" data-tabs-selected-value="account" style="max-inline-size: 400px">
  <div class="tabs__list">
    <%= tab_button "Account",  class: "btn", value: "account" %>
    <%= tab_button "Password", class: "btn", value: "password" %>
  </div>

  <div class="card flex flex-col gap" data-tabs-target="tab" data-value="account">
    <%= render "account_form" %>
  </div>

  <div class="card flex flex-col gap" data-tabs-target="tab" data-value="password">
    <%= render "password_form" %>
  </div>
</div>