<div class="carousel w-full" data-controller="carousel" data-action="keydown.left->carousel#previous keydown.right->carousel#next" style="max-inline-size: 460px" role="region" aria-roledescription="carousel">
  <button class="btn btn--outline rounded-full p-2" data-action="carousel#previous">
    <%= image_tag "arrow-left.svg", size: 16, role: "presentation" %>
    <span class="sr-only">Previous slide</span>
  </button>
  <div class="carousel__content" data-carousel-target="content">
    <div class="card flex items-center justify-center aspect-square" style="flex-basis: 100px;" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">1</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" style="flex-basis: 100px;" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">2</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" style="flex-basis: 100px;" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">3</span>
    </div>
    <div class="card flex items-center justify-center aspect-square" style="flex-basis: 100px;" role="group" aria-roledescription="slide">
      <span class="text-4xl font-semibold">4</span>
    </div>
  </div>
  <button class="btn btn--outline rounded-full p-2" data-action="carousel#next">
    <%= image_tag "arrow-right.svg", size: 16, role: "presentation" %>
    <span class="sr-only">Next slide</span>
  </button>
</div>