<div class="carousel" data-controller="carousel" data-action="keydown.left->carousel#prev keydown.right->carousel#next" role="region" aria-roledescription="carousel">
  <button type="button" class="btn btn--icon" data-action="carousel#prev">
    <span class="icon icon--arrow-left" aria-hidden="true"></span>
    <span class="sr-only">Previous slide</span>
  </button>

  <div class="carousel__content" style="max-inline-size: 28rem; --carousel-items: 3; --carousel-items-gap: .5rem;" data-carousel-target="content" tabindex="-1">
    <div class="carousel__item" role="group" aria-roledescription="slide">
      <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
        <span class="text-4xl leading-none font-semibold">1</span>
      </div>
    </div>

    <div class="carousel__item" role="group" aria-roledescription="slide">
      <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
        <span class="text-4xl leading-none font-semibold">2</span>
      </div>
    </div>

    <div class="carousel__item" role="group" aria-roledescription="slide">
      <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
        <span class="text-4xl leading-none font-semibold">3</span>
      </div>
    </div>

    <div class="carousel__item" role="group" aria-roledescription="slide">
      <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
        <span class="text-4xl leading-none font-semibold">4</span>
      </div>
    </div>

    <div class="carousel__item" role="group" aria-roledescription="slide">
      <div class="card flex items-center justify-center aspect-square" role="group" aria-roledescription="slide">
        <span class="text-4xl leading-none font-semibold">5</span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn--icon" data-action="carousel#next">
    <span class="icon icon--arrow-right" aria-hidden="true"></span>
    <span class="sr-only">Next slide</span>
  </button>
</div>