<div class="flex items-start gap" style="max-inline-size: 800px">
  <div class="card flex flex-col gap i-full" data-controller="sortable" data-sortable-group-value="shared" data-sortable-clone-value="true" data-sortable-put-value="false" data-sortable-sort-value="false">
    <div class="border p-3" style="cursor: move;">Item 1</div>
    <div class="border p-3" style="cursor: move;">Item 2</div>
    <div class="border p-3" style="cursor: move;">Item 3</div>
    <div class="border p-3" style="cursor: move;">Item 4</div>
    <div class="border p-3" style="cursor: move;">Item 5</div>
    <div class="border p-3" style="cursor: move;">Item 6</div>
  </div>

  <div class="card flex flex-col gap i-full" data-controller="sortable" data-sortable-group-value="shared" data-sortable-clone-value="true">
    <div class="border p-3" style="cursor: move;">Item 1</div>
    <div class="border p-3" style="cursor: move;">Item 2</div>
    <div class="border p-3" style="cursor: move;">Item 3</div>
    <div class="border p-3" style="cursor: move;">Item 4</div>
    <div class="border p-3" style="cursor: move;">Item 5</div>
    <div class="border p-3" style="cursor: move;">Item 6</div>
  </div>
</div>