<div class="card flex flex-col gap" style="max-inline-size: 400px" data-controller="sortable" data-sortable-ghost-class-value="bg-shade">
  <div class="border p-3" style="cursor: move;">Item 1</div>
  <div class="border p-3" style="cursor: move;">Item 2</div>
  <div class="border p-3" style="cursor: move;">Item 3</div>
  <div class="border p-3" style="cursor: move;">Item 4</div>
  <div class="border p-3" style="cursor: move;">Item 5</div>
  <div class="border p-3" style="cursor: move;">Item 6</div>
</div>