<div class="prose">
  <h3>O fácil resolve</h3>
  <blockquote>
    <p>
      A indústria da tecnologia não percebe que pensar em nomes cativantes e autoexplicativos
      acabaria beneficiando-a da mesma maneira? Eles venderiam mais do que fosse, porque não
      afastariam consumidores que pensam que estão sendo excluídos do clube de alta tecnologia
      por um bando de engenheiros arrogantes. A tecnologia também pegaria mais rápido.
      O novo produto seria mais fácil de descrever, mais fácil de usar e mais fácil de comprar —
      o que, para as empresas, significa mais fácil de vender.
    </p>
  </blockquote>
  <p>—David Pogue, colunista, New York Times (de “What’s in a Product Name?”)</p>
</div>