<div class="prose text-base-responsive">
  <h1>What is Getting Real</h1>
  <p>Want to build a successful web app? Then it’s time to Get Real. Getting Real is a smaller, faster, better way to build software.</p>
  <ul>
    <li>Getting Real is about skipping all the stuff that represents real (charts, graphs, boxes, arrows, schematics, wireframes, etc.) and actually building the real thing.</li>
    <li>Getting real is less. Less mass, less software, less features, less paperwork, less of everything that’s not essential (and most of what you think is essential actually isn’t).</li>
    <li>Getting Real is staying small and being agile.</li>
  </ul>

  <h2>The benefits of Getting Real</h2>
  <p>Getting Real delivers better results because it forces you to deal with the actual problems you’re trying to solve instead of your ideas about those problems. It forces you to deal with reality.</p>
  <p>Getting Real foregoes functional specs and other transitory documentation in favor of building real screens. A functional spec is make-believe, an illusion of agreement, while an actual web page is reality. That’s what your customers are going to see and use. That’s what matters. Getting Real gets you there faster. And that means you’re making software decisions based on the real thing instead of abstract notions.</p>

  <h3>How To Write Vigorous Software</h3>
  <blockquote>
    Vigorous writing is concise. A sentence should contain no unnecessary words,
    a paragraph no unnecessary sentences, for the same reason that a drawing should
    have no unnecessary lines and a machine no unnecessary parts.
    This requires not that the writer make all sentences short or avoid all detail
    and treat subjects only in outline, but that every word tell.
  </blockquote>
  <p>—From <a href="#">“The Elements of Style”</a> by William Strunk Jr.</p>
</div>
