<div class="prose">
  <ul>
    <li>All lists have their top margin removed</li>
    <li>And their bottom margin normalized</li>
    <li>This way they have a more even appearance</li>
    <li>Particularly when followed by more list items</li>
  </ul>

  <ol>
    <li>Here’s an ordered list</li>
    <li>With a few list items</li>
    <li>It has the same overall look</li>
    <li>As the previous unordered list</li>
  </ol>
</div>