<div contents data-controller="popover">
  <button type="button" class="btn" data-popover-target="button" data-action="popover#toggle">
    Open popover
  </button>

  <div popover class="popover" data-popover-target="menu">
    <%= render "dimensions_form" %>
  </div>
</div>