<div data-controller="popover">
  <button class="btn" data-popover-target="button" data-action="popover#show">
    Open popover
  </button>

  <div popover class="popover" data-popover-target="menu">
    <%= render "dimensions_form" %>
  </div>
</div>
