<main class="centered-layout">
  <div class="relative" data-controller="popover" data-popover-flip-class="popover--flip" data-action="mouseenter->popover#show mouseleave->popover#closeLater">
    <button class="btn" data-popover-target="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="dialog">
      Hover to open
    </button>

    <dialog class="popover" data-popover-target="menu">
      <%= render "dimensions_form" %>
    </dialog>
  </div>
</main>
