<div class="inline-flex" data-controller="popover" data-action="mouseenter->popover#showLater mouseleave->popover#hideLater">
  <a href="" class="font-medium underline p-2" data-popover-target="button">
    @rails
  </a>

  <div popover="hint" class="popover" data-popover-target="menu">
    <div class="flex flex-col p-4">
      <h2 class="text-lg font-semibold">Ruby on Rails</h2>
      <p class="text-sm text-subtle">The webframework that changed the world.</p>
    </div>
  </div>
</div>