<div class="relative p-2" data-controller="popover" data-popover-flip-class="popover--flip" data-action="mouseenter->popover#show mouseleave->popover#close">
  <a href="" class="font-medium underline" data-popover-target="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="dialog">
    @rails
  </a>

  <dialog class="popover" style="outline: 0;" data-popover-target="menu">
    <div class="flex flex-col gap-half p-4">
      <h1 class="text-lg font-semibold leading-none">Ruby on Rails</h1>
      <p class="text-sm text-subtle">The webframework that changed the world.</p>
    </div>
  </dialog>
</div>