<div contents data-controller="popover" data-action="mouseenter->popover#debouncedShow mouseleave->popover#debouncedHide">
  <a href="" class="text-link" data-popover-target="trigger">
    @rails
  </a>

  <div popover="hint" class="popover" data-popover-target="content">
    <div class="flex flex-col p-4">
      <h2 class="text-lg font-semibold">Ruby on Rails</h2>
      <p class="text-sm text-subtle">The webframework that changed the world.</p>
    </div>
  </div>
</div>
