<div contents data-controller="popover" data-popover-placement-value="bottom-start">
  <button type="button" id="popover_button" class="btn" data-popover-target="trigger" popovertarget="popover">
    Open popover
  </button>

  <div popover id="popover" class="popover" data-popover-target="content" role="dialog">
    <%= render "dimensions_form" %>
  </div>
</div>
