<div data-controller="popover" data-popover-placement-value="bottom-start">
  <button class="btn" popovertarget="popover" data-popover-target="button" data-action="popover#toggle">
    Open popover
  </button>

  <div popover class="popover" data-popover-target="menu">
    <%= render "dimensions_form" %>
  </div>
</div>
