<button type="button" id="popover_button" class="btn" popovertarget="popover">
  Open popover
</button>

<div popover id="popover" class="popover popover--block-end-start" role="dialog">
  <%= render "dimensions_form" %>
</div>
