<button type="button" id="popover_button" class="btn" popovertarget="popover" >
  Open popover
</button>

<div popover id="popover" class="popover" data-controller="anchor" data-anchor-to-value="popover_button" data-anchor-placement-value="bottom-start">
  <%= render "dimensions_form" %>
</div>
