<main class="centered-layout">
  <div class="relative" data-controller="popover" data-popover-flip-class="popover--flip">
    <button class="btn" data-action="popover#toggle">
      Open popover
    </button>

    <dialog class="popover" style="--popover-size: 20rem; --popover-position: -6rem;" data-popover-target="menu" data-action="click@document->popover#closeOnClickOutside toggle->popover#orient">
      <%= render "dimensions_form" %>
    </dialog>
  </div>
</main>
