<div data-controller="popover" data-popover-placement-value="top">
  <%= button_tag "Hover", class: "btn", data: { popover_target: "button", action: "mouseenter->popover#showLater focus->popover#show mouseleave->popover#hide focusout->popover#hide" } %>
  <div popover class="popover pb-2 pi-3 text-xs " data-popover-target="menu" role="tooltip">Add to library</div>
</div>
