<div data-controller="dialog">
  <button class="btn" data-action="dialog#showModal">Show dialog</button>

  <dialog class="dialog" data-dialog-target="box" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc">
    <div class="dialog__content">
      <h1 class="text-lg font-semibold leading-none" id="dialog_label">Are you absolutely sure?</h1>
      <p class="text-sm text-subtle mbs-2" id="dialog_desc">
        This action cannot be undone. This will permanently delete your account and remove your data from our servers.
      </p>

      <div class="flex items-center justify-end gap mbs-4">
        <button class="btn btn--outline" data-action="click->dialog#close">Cancel</button>
        <button class="btn btn--primary">Continue</button>
      </div>
    </div>
  </dialog>
</div>