<button type="button" class="btn" commandfor="dismissible_dialog" command="show-modal">Show dialog</button>

<dialog id="dismissible_dialog" class="dialog" style="--dialog-size: 430px;" closedby="any" aria-label="Edit profile">
  <button type="button" class="btn btn--plain dialog__close" commandfor="dismissible_dialog" command="close">
    <span class="icon icon--x" aria-hidden="true"></span>
    <span class="sr-only">Close</span>
  </button>
  <div class="dialog__content">
    <%= render "profile_form" %>
  </div>
</dialog>
