<div data-controller="dialog">
  <button class="btn" data-action="dialog#showModal">Show dialog</button>

  <dialog class="dialog" style="--dialog-size: 430px;" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside" aria-label="Edit profile">
    <button class="btn btn--plain dialog__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>
    <div class="dialog__content">
      <%= render "profile_form" %>
    </div>
  </dialog>
</div>