<label class="btn btn--toggle btn--icon btn--borderless">
  <%= check_box_tag :check_bold %>
  <span class="icon icon--bold" aria-hidden="true"></span>
  <span class="sr-only">Toggle bold</span>
</label>