<label class="toggle">
  <%= check_box_tag :check_italic %>
  <div class="btn btn--outline">
    <%= image_tag "italic.svg", size: 16, role: "presentation" %>
    <span class="sr-only">Toggle italic</span>
  </div>
</label>