<label class="toggle">
  <%= check_box_tag :check_bold %>
  <div class="btn btn--plain">
    <%= image_tag "bold.svg", size: 16, role: "presentation" %>
    <span class="sr-only">Toggle bold</span>
  </div>
</label>