<div contents data-controller="dialog">
  <button type="button" class="btn" data-action="dialog#showModal">Open sheet</button>

  <dialog class="sheet sheet--left" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside" aria-label="Edit profile">
    <button type="button" class="btn btn--plain sheet__close" data-action="click->dialog#close">
      <span class="icon icon--x" aria-hidden="true"></span>
      <span class="sr-only">Close</span>
    </button>
    <div class="sheet__content">
      <%= render "profile_form" %>
    </div>
  </dialog>
</div>