<div data-controller="dialog">
  <button class="btn" data-action="dialog#showModal">Open sheet</button>

  <dialog class="sheet sheet--left" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside">
    <button class="btn btn--plain sheet__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>
    <div class="sheet__content">
      <%= render "profile_form" %>
    </div>
  </dialog>
</div>
