<button type="button" class="btn" commandfor="sheet" command="show-modal">Open sheet</button>

<dialog id="sheet" class="sheet sheet--right" aria-label="Edit profile" closedby="any">
  <button type="button" class="btn btn--plain sheet__close" commandfor="sheet" command="close">
    <span class="icon icon--x" aria-hidden="true"></span>
    <span class="sr-only">Close</span>
  </button>
  <div class="sheet__content">
    <%= render "profile_form" %>
  </div>
</dialog>
