<div class="hide@md">
  <button type="button" class="btn btn--icon" commandfor="mobile_menu" command="show-modal">
    <span class="icon icon--panel-left" style="--icon-size: 1.25rem" aria-hidden="true"></span>
    <span class="sr-only">Open menu</span>
  </button>

  <dialog id="mobile_menu" class="sheet sheet--left" style="--sheet-size: 288px;" closedby="any">
    <div class="sheet__content p-2">
      <%= render "sidebar_menu" %>
    </div>
  </dialog>
</div>
