<h2>Hey there,</h2>
<p>
  This is a document written in Lexxy. Feel free to type, play around with
  formatting, paste links, or hit <code>:</code> to drop in an emoji!
</p>

<h3>Features</h3>
<ul>
  <li value="1">
    Lexxy is built on top of Lexical, the powerful text editor framework from
    Meta.
  </li>
  <li value="2">
    Good HTML semantics. Paragraphs are real<br/>tags, as they should be.
  </li>
  <li value="3">Markdown support: shortcuts, auto-formatting on paste.</li>
  <li value="4">
    The <strong>rich</strong> <em>text</em> <i><strong>styles</strong></i> you
    <s>want</s> expect.
  </li>
  <li value="5">
    Text highlights <mark style="color: var(--highlight-1);">color</mark>,
    <mark style="background-color: var(--highlight-bg-6);">background</mark>, or
    <mark
      style="color: var(--highlight-3);background-color: var(--highlight-bg-3);"
      >both</mark
    >; with
    <mark style="color: var(--highlight-7);"><strong>other</strong></mark>
    <s><mark style="background-color: var(--highlight-bg-3);">styles</mark></s>
    <i
      ><mark style="color: var(--highlight-5);"><strong>too</strong></mark></i
    >.
  </li>
  <li value="6">Real-time code syntax highlighting.</li>
  <li value="7">Create links by pasting URLs on selected text.</li>
  <li value="8">
    Configurable prompts. Support for mentions and other interactive prompts
    with multiple loading and filtering strategies.
  </li>
  <li value="9">Preview attachments like PDFs and Videos in the editor.</li>
  <li value="10">
    Works seamlessly with Action Text, generating the same canonical HTML format
    it expects for attachments.
  </li>
</ul>

<pre
  data-language="css"
  data-highlight-language="css"
>body {<br>  font-size: 20px;<br>}</pre>

<figure class="lexxy-content__table-wrapper">
  <table>
    <tbody>
      <tr>
        <th class="lexxy-content__table-cell--header"><p>Name</p></th>
        <th class="lexxy-content__table-cell--header"><p>Age</p></th>
      </tr>
      <tr>
        <td><p>John</p></td>
        <td><p>25</p></td>
      </tr>
      <tr>
        <td><p>Jane</p></td>
        <td><p>26</p></td>
      </tr>
    </tbody>
  </table>
</figure>
