<h1>The Joke Tax Chronicles</h1>
<div>Once upon a time, in a far-off land, there was a very lazy king who spent all day lounging on his throne. One day, his advisors came to him with a problem: the kingdom was running out of money.</div>
<div><br></div>

<h1>The King's Plan</h1>
<div>The king thought long and hard, and finally came up with <a href="https://ui.shadcn.com/docs/components/typography#">a brilliant plan</a>: he would tax the jokes in the kingdom.<br><br></div>
<blockquote>"After all," he said, "everyone enjoys a good joke, so it's only fair that they should pay for the privilege."</blockquote>
<div><br></div>

<h1>The Joke Tax</h1>
<div>The king's subjects were not amused. They grumbled and complained, but the king was firm:<br><br></div>
<ul>
  <li>1st level of puns: 5 gold coins</li>
  <li>2nd level of jokes: 10 gold coins</li>
  <li>3rd level of one-liners : 20 gold coins</li>
</ul>
<div><br></div>
<pre>&lt;%= button_tag class: "btn" do %&gt;
  &lt;%= image_tag "circle-plus.svg", size: 16, aria: { hidden: true } %&gt;
  &lt;span&gt;Add user&lt;/span&gt;
&lt;% end %&gt;</pre>
<div><br></div>
<div>As a result, people stopped telling jokes, and the kingdom fell into a gloom. But there was one person who refused to let the king's foolishness get him down: a court jester named Jokester.</div>
<div><br></div>

<h1>Jokester's Revolt</h1>
<div>Jokester began sneaking into the castle in the middle of the night and leaving jokes all over the place: under the king's pillow, in his soup, even in the royal toilet. The king was furious, but he couldn't seem to stop Jokester.</div>
<div><br></div>
<div>And then, one day, the people of the kingdom discovered that the jokes left by Jokester were so funny that they couldn't help but laugh. And once they started laughing, they couldn't stop.</div>
<div><br></div>

<h1>The People's Rebellion</h1>
<div>The people of the kingdom, feeling uplifted by the laughter, started to tell jokes and puns again, and soon the entire kingdom was in on the joke.</div>
<div><br></div>
<div>The king, seeing how much happier his subjects were, realized the error of his ways and repealed the joke tax. Jokester was declared a hero, and the kingdom lived happily ever after.</div>
<div><br></div>
<div>The moral of the story is: never underestimate the power of a good laugh and always be careful of bad ideas.</div>
