<button class="btn" data-action="fullscreen#toggle" data-fullscreen-target="button">
  <%= image_tag "maximize.svg", aria: { hidden: true }, size: 24 %>
  <span class="sr-only">Enter fullscreen</span>
</button>