<div class="avatar-group">
  <span class="avatar"><%= image_tag "cartoon.jpg", size: 32, alt: "CN" %></span>
  <span class="avatar"><%= image_tag "lazaronixon.jpg", size: 32, alt: "LN" %></span>
  <span class="avatar"><%= image_tag "elon.jpg", size: 32, alt: "EM" %></span>
</div>
