<div class="input input--actor input--revealable flex items-center gap" data-controller="input-revealable">
  <%= password_field_tag "input_revealable", nil, data: { input_revealable_target: "input" } %>
  <button type="button" class="btn btn--plain" data-action="input-revealable#reveal">
    <span class="icon" aria-hidden="true"></span>
    <span class="sr-only">Toggle password visibility</span>
  </button>
</div>
