<div class="flex flex-wrap gap">
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Fade In</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Fade Out</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-starting-opacity-value="0" data-animation-var-value="--animate-fade-in-bloom">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Bloom Fade In</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-fade-out-bloom">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Bloom Fade Out</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-up">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Scale up</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-scale-down">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Scale down</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-up">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide Out Up</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-down">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide Out Down</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-right">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide Out Right</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-out-left">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide Out Left</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-up">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide In Up</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-down">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide In Down</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-right">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide In Right</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-slide-in-left">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Slide In Left</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-spin">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Spin</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-ping">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Ping</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-blink">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Blink</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-float">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Float</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-bounce">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Bounce</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-pulse">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Pulse</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-x">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Shake X</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-y">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Shake Y</button>
  </div>
  <div class="card bg-shade" data-controller="animation" data-action="animationend->animation#cleanup" data-animation-var-value="--animate-shake-z">
    <button class="btn btn--plain text-lg font-semibold" data-action="animation#run">Shake Z</button>    
  </div>
</div>