<div class="dual-range-input" data-controller="dual-range">
  <%= range_field_tag "range_min_field", 25, min: 0, max: 100, step: 1, data: { dual_range_target: "min" }  %>
  <%= range_field_tag "range_max_field", 75, min: 0, max: 100, step: 1, data: { dual_range_target: "max" }  %>
</div>
