<div class="resizable-horizontal rounded-lg border" style="block-size: 450px;" data-controller="resizable"  data-resizable-direction-value="horizontal">
  <div class="flex items-center justify-center p-6" data-resizable-target="element" data-size="50">
    <span class="font-semibold">One</span>
  </div>

  <div class="resizable-vertical" data-resizable-target="element" data-size="50">
    <div contents data-controller="resizable" data-resizable-direction-value="vertical">
      <div class="flex items-center justify-center p-6" data-resizable-target="element" data-size="25">
        <span class="font-semibold">Two</span>
      </div>

      <div class="flex items-center justify-center p-6" data-resizable-target="element" data-size="75">
        <span class="font-semibold">Three</span>
      </div>
    </div>
  </div>
</div>
