<div class="resizable-horizontal rounded-lg border" style="block-size: 450px;" data-controller="resizable" data-resizable-direction-value="horizontal">
  <div class="flex items-center justify-center p-6" data-resizable-target="element" data-size="25">
    <span class="font-semibold">Sidebar</span>
  </div>

  <div class="flex items-center justify-center p-6" data-resizable-target="element" data-size="75">
    <span class="font-semibold">Content</span>
  </div>
</div>
