<div class="flex rounded-lg border" style="block-size: 200px;">
  <div class="flex items-center justify-center p-3 border-ie resizable-inline">
    Sidebar
  </div>

  <div class="flex items-center justify-center p-3 grow">
    Content
  </div>
</div>