<div class="flex flex-col rounded-lg border" style="block-size: 200px;">
  <div class="flex items-center justify-center p-3 border-be resizable-block">
    Header
  </div>

  <div class="flex items-center justify-center p-3 grow">
    Content
  </div>
</div>