<div class="header-layout">
  <header id="header">
    <div class="flex justify-between container">
      <%= render "mobile_menu" %>
      <%= render "header_menu" %>
    </div>
  </header>

  <main id="main">
    <div class="container flex flex-col gap">
      <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
    </div>
  </main>
</div>