<div class="header-layout">
  <header id="header">
    <div>Header</div>
  </header>

  <main id="main">
    <div>Line 1</div>
    <div>Line 2</div>
    <div>Line 3</div>
    <div>Line 4</div>
    <div>Line 5</div>
    <div>Line 6</div>
    <div>Line 7</div>
    <div>Line 8</div>
    <div>Line 9</div>
    <div>Line 10</div>
  </main>
</div>