<div class="header-layout">
  <header id="header">
    <div class="container">Header</div>
  </header>

  <main id="main">
    <div class="container flex flex-col" style="row-gap: 1rem">
      <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
    </div>
  </main>
</div>