<div class="sidebar-layout">
  <header id="header">
    <%= render "mobile_menu" %>
    <h1>Header</h1>
  </header>

  <aside id="sidebar">
    <span class="p-2">Sidebar</span>
  </aside>

  <main id="main">
    Main
  </main>
</div>