<div class="sidebar-layout">
  <header id="header">
    <%= render "mobile_menu" %>
    <h1>Header</h1>
  </header>

  <aside id="sidebar">
    <div class="p-2">Sidebar</div>
  </aside>

  <main id="main">
    <% 10.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
  </main>
</div>