<div class="sidebar-layout">
  <aside id="sidebar">
    <div class="p-2">Sidebar</div>
  </aside>

  <main id="main">
    <%= render "mobile_menu" %>
    <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
  </main>
</div>