<div class="sidebar-layout">
  <header class="justify-between" id="header">
    <%= render "mobile_menu" %>
    <%= render "header_menu" %>
  </header>

  <aside id="sidebar">
    <%= render "sidebar_menu" %>
  </aside>

  <main id="main">
    <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
  </main>
</div>