<div class="sidebar-layout">
  <aside id="sidebar">
    <div class="p-2">Sidebar</div>
  </aside>

  <main id="main">
    <%= render "mobile_menu" %>
    <div>Line 1</div>
    <div>Line 2</div>
    <div>Line 3</div>
    <div>Line 4</div>
    <div>Line 5</div>
    <div>Line 6</div>
    <div>Line 7</div>
    <div>Line 8</div>
    <div>Line 9</div>
    <div>Line 10</div>
  </main>
</div>