<div class="layout-sidebar border" style="block-size: 100dvh;">
  <header id="header" class="border-be p-4">
    Header
  </header>

  <nav id="sidebar" class="overflow-hidden">
    <div class="border-ie p-4 h-full">Sidebar</div>
  </nav>

  <main id="main" class="p-4">
    Main
  </main>
</div>