<div class="layout-sidebar border">
  <header id="header" class="border-be p-4 flex items-center gap">
    <div class="sidebar__toggle" data-controller="dialog"><%= render "mobile_menu" %></div>
    <h1>Header</h1>
  </header>

  <nav id="sidebar" class="overflow-hidden">
    <div class="border-ie p-4 h-full">Sidebar</div>
  </nav>

  <main id="main" class="p-4">
    Main
  </main>
</div>