<div class="header-layout">
  <header id="header">
    <div>Header</div>
  </header>

  <main id="main">
    <section class="mbe-auto">
      <div class="mbe-6">Line 1</div>
      <div class="mbe-6">Line 2</div>
      <div class="mbe-6">Line 3</div>
      <div class="mbe-6">Line 4</div>
      <div class="mbe-6">Line 5</div>
      <div class="mbe-6">Line 6</div>
      <div class="mbe-6">Line 7</div>
      <div class="mbe-6">Line 8</div>
      <div class="mbe-6">Line 9</div>
      <div class="mbe-0">Line 10</div>
    </section>

    <footer>
      <div>Footer</div>
    </footer>
  </main>
</div>