<div class="header-layout">
  <header class="justify-between" id="header">
    <%= render "mobile_menu" %>
    <%= render "header_menu" %>
  </header>

  <main id="main">
    <section class="mbe-auto flex flex-col gap">
      <% 5.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
    </section>

    <footer>
      <div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div>
    </footer>
  </main>
</div>