<dialog class="dialog" data-controller="turbo-confirm" data-action="close->turbo-confirm#submit" role="alertdialog" aria-labelledby="turbo_confirm_title" aria-describedby="turbo_confirm_text">
  <form method="dialog" class="dialog__content">
    <h2 class="text-lg font-semibold leading-none mbe-2" id="turbo_confirm_title" data-turbo-confirm-target="title"></h2>
    <p class="text-sm text-subtle mbe-4" id="turbo_confirm_text" data-turbo-confirm-target="text"></p>

    <div class="flex items-center justify-end gap">
      <button value="cancel" class="btn">Cancel</button>
      <button value="confirm" class="btn btn--primary">Continue</button>
    </div>
  </form>
</dialog>

<%= button_to "Click to destroy", nil, class: "btn", method: :delete, form: { data: { turbo_confirm: "Are you absolutely sure?", turbo_confirm_text: "This action cannot be undone. This will permanently delete your account and remove your data from our servers." } } %>
