<div class="overflow-x-auto rounded-md border" style="block-size: 18rem; inline-size: 12rem;">
  <div class="p-4">
    <h4 class="mbe-4 text-sm font-medium leading-none">Tags</h4>
    <% (1..50).reverse_each do |version| %>
      <%= tag.div "v1.2.0-beta.#{version}", class: "text-sm" %>
      <%= tag.div nil, class: "separator mb-2" %>
    <% end %>
  </div>
</div>
