<div class="rounded-md border" style="max-inline-size: 24rem;">
  <div class="flex gap p-4 overflow-y-auto" style="--column-gap: 1rem;">
    <figure class="flex flex-col gap shrink-0">
      <%= image_tag "unsplash-1.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
      <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Ornella Binni</span></figcaption>
    </figure>
    <figure class="flex flex-col gap shrink-0">
      <%= image_tag "unsplash-2.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
      <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Tom Byrom</span></figcaption>
    </figure>
    <figure class="flex flex-col gap shrink-0">
      <%= image_tag "unsplash-3.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
      <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Vladimir Malyavko</span></figcaption>
    </figure>
  </div>
</div>