<div class="flex items-center gap overflow-y-auto rounded-md border p-4" style="max-inline-size: 24rem;">
  <figure class="flex flex-col flex-item-no-shrink gap">
    <%= image_tag "unsplash-1.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
    <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Ornella Binni</span></figcaption>
  </figure>
  <figure class="flex flex-col flex-item-no-shrink gap">
    <%= image_tag "unsplash-2.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
    <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Tom Byrom</span></figcaption>
  </figure>
  <figure class="flex flex-col flex-item-no-shrink gap">
    <%= image_tag "unsplash-3.webp", width: 300, height: 400, class: "object-cover rounded-md", style: "aspect-ratio: 3/4; inline-size: 150px;" %>
    <figcaption class="text-xs text-subtle">Photo by <span class="font-semibold">Vladimir Malyavko</span></figcaption>
  </figure>
</div>
