<% @chart_data = {
  labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun" ],
  datasets: [
    { label: "Desktop", data: [186, 305, 237, 73, 209, 214] },
    { label: "Mobile",  data: [80, 200, 120, 190, 130, 140] }
  ]
} %>

<div class="relative i-full" style="block-size: 400px;">
  <%= tag.canvas aria: { label: "Example" }, role: "img", data: { controller: "chart", chart_type_value: "bar", chart_data_value: @chart_data.to_json } %>
</div>
