<% @chart_data = {
  labels: [ "January", "February", "March", "April", "May", "June", "July" ],
  datasets: [
    { label: "Dataset 1", backgroundColor: "#93c5fd", data: [65, 59, 80, 81, 56, 55, 40] },
    { label: "Dataset 2", backgroundColor: "#fda4af", data: [55, 49, 70, 71, 46, 45, 30] }
  ]
} %>

<div class="relative i-full" style="block-size: 400px;">
  <%= tag.canvas style: "max-block-size: 400px", aria: { label: "Example" }, role: "img", data: { controller: "chart", chart_type_value: "bar", chart_options_value: { indexAxis: "y" }, chart_data_value: @chart_data.to_json } %>
</div>