<% @chart_data = {
  labels: [ "January", "February", "March", "April" ],
  datasets: [{ label: "Dataset 1", backgroundColor: "#2b7fff", data: [{ x: 20, y: 32, r: 15 }, { x: 30, y: 30, r: 25 }, { x: 35, y: 20, r: 13 }, { x: 40, y: 10, r: 10 }] }]
} %>

<% @chart_options = { scales: {
  x: { border: { display: false }, grid: { tickLength: 0 }, ticks: { display: false } },
  y: { border: { display: false }, grid: { tickLength: 0 }, ticks: { display: false } }
} } %>

<div class="relative i-full" style="block-size: 400px;">
  <%= tag.canvas aria: { label: "Example" }, role: "img", data: { controller: "chart", chart_type_value: "bubble", chart_data_value: @chart_data.to_json, chart_options_value: @chart_options.to_json } %>
</div>
