<% @chart_data = {
  labels: [ "Jan", "Feb", "Mar", "Apr" ],
  datasets: [
    { label: "Line Dataset", type: "line", backgroundColor: "#8ec5ff", borderColor: "#8ec5ff", data: [30, 30, 30, 30] },
    { label: "Bar Dataset",  type: "bar",  backgroundColor: "#2b7fff", data: [10, 20, 30, 40] }
  ]
} %>

<div class="relative i-full" style="block-size: 400px;">
  <%= tag.canvas aria: { label: "Example" }, role: "img", data: { controller: "chart", chart_data_value: @chart_data.to_json } %>
</div>
