<% @chart_data = {
  labels: [ "Chrome", "Safari", "Firefox", "Edge", "Other" ],
  datasets: [{ label: "Visitors", data: [275, 200, 187, 173, 90] }]
} %>

<div class="relative i-full" style="block-size: 400px;">
  <%= tag.canvas aria: { label: "Example" }, role: "img", data: { controller: "chart", chart_type_value: "pie", chart_data_value: @chart_data.to_json } %>
</div>
