<div class="list-row list-row--borderless flex items-center justify-between">
  <div class="flex flex-col gap-half">
    <h5 class="text-sm leading-none font-medium">Borderless Variant</h5>
    <p class="text-sm text-subtle">Borderless style with clear borders and transparent background.</p>
  </div>
  <%= link_to "Open", "", class: "btn" %>
</div>
