<div class="list-row flex items-center justify-between">
  <div class="flex flex-col gap-half">
    <h5 class="text-sm leading-none font-medium">Default Variant</h5>
    <p class="text-sm text-subtle">Standard styling with subtle background and borders.</p>
  </div>
  <%= link_to "Open", "", class: "btn pb-2" %>
</div>
