<%= link_to "", class: "list-row list-row--link flex items-center justify-between" do %>
  <div class="flex flex-col gap-half">
    <h5 class="text-sm leading-none font-medium">Visit our documentation</h5>
    <p class="text-sm text-subtle">Learn how to get started with our components.</p>
  </div>
  <span class="icon icon--chevron-right" aria-hidden="true"></span>
<% end %>
