<div class="input input--clearable input--actor flex items-center gap" data-controller="clearable-input">
  <%= search_field_tag "clearable_input", nil, placeholder: "Type something", data: { clearable_input_target: "input" } %>
  <button type="button" class="btn btn--plain" data-action="clearable-input#clear">
    <span class="icon icon--x" aria-hidden="true"></span>
    <span class="sr-only">Clear input</span>
  </button>
</div>