<div class="input input--actor input--copyable flex items-center gap" data-controller="copyable-input">
  <%= text_field_tag "copyable_input", SecureRandom.base58(32), readonly: "readonly", data: { copyable_input_target: "input" } %>
  <button type="button" class="btn btn--plain" data-action="copyable-input#copy">
    <span class="icon icon--clipboard-document" aria-hidden="true"></span>
    <span class="sr-only">Copy to clipboard</span>
  </button>
</div>