<%= tag.label class: "input input--actor flex items-center gap", data: { controller: "revealable-input", revealable_input_show_image_value: asset_url("eye.svg"), revealable_input_hide_image_value: asset_url("eye-off.svg") } do %>
  <%= password_field_tag "revealable_field", nil, class: "input__character", data: { revealable_input_target: "input" } %>
  <button class="btn btn--plain" data-action="revealable-input#reveal">
    <%= image_tag "eye.svg", size: 20, aria: { hidden: true }, data: { revealable_input_target: "image" } %>
    <span class="sr-only">Reveal password</span>
  </button>
<% end %>