<div class="input input--actor flex items-center gap" data-controller="revealable-input">
  <%= password_field_tag "revealable_input", nil, data: { revealable_input_target: "input" } %>
  <button type="button" class="btn btn--plain btn--reveal" data-revealable-input-target="button" data-action="revealable-input#reveal">
    <span class="icon" aria-hidden="true"></span>
    <span class="sr-only">Toggle password visibility</span>
  </button>
</div>
