<div class="flex flex-col gap">
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
  <div data-controller="scroll-into-view">Go here</div>
  <% 25.times do %><div class="rounded-lg bg-shade" style="min-block-size: 3rem"></div><% end %>
</div>