<div class="flex flex-col items-center text-center gap" style="max-inline-size: 450px;">
  <div class="flex flex-col items-center gap">
    <h1 class="text-3xl font-bold leading-none">Welcome to the Contacts App</h1>
    <p class="text-subtle">It's time to expand our contacts.<br>Kickstart your contacts growth by adding your next contact.</p>
    <%= link_to "Add New Contact", "", class: "btn btn--primary i-min" %>
  </div>

  <%= image_tag "add_friends.svg", class: "mbs-4" %>
</div>