<button type="button" id="color_scheme_button" popovertarget="color_scheme_popover" class="btn btn--icon" aria-haspopup="true" aria-controls="color_scheme_menu">
  <span class="icon icon--sun icon--color-scheme-light" aria-hidden="true"></span>
  <span class="icon icon--moon icon--color-scheme-dark" aria-hidden="true"></span>
  <span class="sr-only">Theme switcher</span>
</button>

<div popover id="color_scheme_popover" class="popover" data-controller="anchor" data-anchor-to-value="color_scheme_button" data-anchor-placement-value="bottom-start">
  <div id="color_scheme_menu" class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu" aria-labelledby="color_scheme_button">
    <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setLight" data-menu-target="item" role="menuitem">Light</button>
    <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setDark" data-menu-target="item" role="menuitem">Dark</button>
    <button type="button" class="btn menu__item" data-action="popover#hide color-scheme#setSystem" data-menu-target="item" role="menuitem">System</button>
  </div>
</div>
