<%= tag.div class: "dropzone", data: { controller: "dropzone", dropzone_param_name_value: "billboard[images][]", dropzone_url_value: rails_direct_uploads_url } do %>
  <div class="dz-default dz-message flex flex-col items-center">
    <h5 class="font-semibold">Drop files here or click to upload.</h5>
    <p class="text-sm text-subtle">Upload as many files as you want.</p>
  </div>
<% end %>
