<%= tag.div class: "dropzone", data: { controller: "dropzone", dropzone_param_name_value: "billboard[images][]", dropzone_url_value: rails_direct_uploads_url, dropzone_accepted_files_value: "image/*", dropzone_max_files_value: 3, dropzone_max_filesize_value: 0.300 } do %>
  <div class="dz-default dz-message flex flex-col items-center">
    <h5 class="font-semibold">Drop files here or click to upload.</h5>
    <p class="text-sm text-subtle">Upload up to 3 images and 300k.</p>
  </div>
<% end %>
