<div class="alert flex items-start" role="alert">
  <span class="icon icon--command-line" aria-hidden="true"></span>
  <div class="flex flex-col mis-3">
    <h5 class="font-medium leading-none mbe-1">Heads up!</h5>
    <p>You can add components to your app using the cli.</p>
  </div>
</div>