<div class="alert alert--negative flex items-start" role="alert">
  <span class="icon icon--circle-alert" aria-hidden="true"></span>
  <div class="flex flex-col mis-3">
    <h5 class="font-medium leading-none mbe-1">Unable to process your payment.</h5>
    <div class="flex flex-col text-sm">
      <p class="mbe-2">Please verify your billing information and try again.</p>
      <ul class="mis-3" style="list-style: disc">
        <li>Check your card details</li>
        <li>Ensure sufficient funds</li>
        <li>Verify billing address</li>
      </ul>
    </div>
  </div>
</div>