<div class="alert alert--negative flex items-start" role="alert">
  <span class="icon icon--exclamation-circle" aria-hidden="true"></span>
  <div class="flex flex-col mis-3">
    <h5 class="font-medium leading-none mbe-1">Error</h5>
    <p>Your session has expired. Please log in again.</p>
  </div>
</div>