<div class="alert alert--negative flex items-start gap" style="--column-gap: 0.75rem;" role="alert">
  <%= image_tag "circle-alert.svg", size: 16, aria: { hidden: true } %>
  <div class="flex flex-col">
    <h1 class="font-medium leading-none mbe-1">Error</h1>
    <p>Your session has expired. Please log in again.</p>
  </div>
</div>