<div class="alert flex items-start" role="alert">
  <span class="icon icon--circle-check" aria-hidden="true"></span>
  <h5 class="font-medium leading-none mis-3">
    This Alert has a title and an icon. No description.
  </h5>
</div>