<div class="alert alert--positive flex items-start" role="alert">
  <span class="icon icon--circle-check" aria-hidden="true"></span>
  <div class="flex flex-col mis-3">
    <h5 class="font-medium leading-none mbe-1">Success</h5>
    <p>Your purchase has been confirmed.</p>
  </div>
</div>