.alert {
  background-color: var(--alert-background, var(--color-surface));
  border-radius: var(--rounded-lg);
  border: 1px solid var(--alert-border-color, var(--color-border));
  color: var(--alert-color, var(--color-text));
  font-size: var(--text-sm);
  inline-size: var(--size-full);
  padding: var(--size-4);
}

.alert--positive {
  --alert-color: oklch(from var(--color-positive) 70% c h);
}

.alert--negative {
  --alert-color: oklch(from var(--color-negative) 70% c h);
}
