.filter--active {
  [role=option] { display: none; }
  [role=option].selected { display: flex; }

  [role=group] { display: none; }
  [role=group]:has(.selected) { display: flex; }

  .no-results { display: none; }
  &:not(:has(.selected)) .no-results { display: flex; }
}

.no-results {
  display: none;
}
