.ts-control {
  background-color: var(--color-bg) !important;
  background-image: url("select-arrow.svg") !important;
  background-position: center right var(--size-2) !important;
  background-repeat: no-repeat !important;
  background-size: var(--size-4) auto !important;
  border: 1px solid var(--color-border) !important;
  border-radius: var(--rounded-md);
  block-size: var(--size-10);
  color: var(--color-text);
  cursor: pointer !important;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  padding: var(--size-2) var(--size-4);

  > input {
    color: var(--color-text);
    font-size: var(--text-sm);
  }
}

.ts-dropdown {
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  color: var(--color-text);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
  overflow: hidden;

  .dropdown-input-wrap {
    background-color: var(--color-bg);
    background-image: url("combobox-search.svg");
    background-position: center left var(--size-3);
    background-repeat: no-repeat;
    background-size: var(--size-4) auto;
    border-block-end-width: var(--border);
    padding-inline: var(--size-3);
  }

  .dropdown-input {
    border: 0;
    outline: 0;
    padding-block: var(--size-3);
    padding-inline-start: var(--size-6);
    padding-inline-end: 0;
  }

  .ts-dropdown-content {
    padding: var(--size-1);
  }

  .option {
    border: 1px solid transparent;
    border-radius: var(--rounded-md);
    padding: var(--size-1_5) var(--size-2);
  }

  .active {
    background-color: var(--color-secondary);
    color: var(--color-text);
  }

  .highlight {
    background-color: transparent !important;
  }
}