<div class="flex items-center flex-wrap gap-half">
  <div class="badge">Badge</div>
  <div class="badge badge--primary">Primary</div>
  <div class="badge badge--secondary">Secondary</div>
  <div class="badge badge--negative">Negative</div>
  <div class="badge badge--positive">
    <span class="icon icon--circle-check" style="--icon-size: 12px" aria-hidden="true"></span>
    <span>Verified</span>
  </div>
  <div class="badge badge--number badge--primary">8</div>
  <div class="badge badge--number badge--negative">99</div>
  <div class="badge badge--number">20+</div>
</div>