<nav class="breadcrumb" aria-label="Breadcrumb">
  <%= link_to "Home", "#home" %>
  <span class="icon icon--chevron-right" aria-hidden="true"></span>
  <span class="icon icon--ellipsis" aria-hidden="true"></span>
  <span class="icon icon--chevron-right" aria-hidden="true"></span>
  <%= link_to "Components", "#components" %>
  <span class="icon icon--chevron-right" aria-hidden="true"></span>
  <span class="text-primary" aria-disabled="true" aria-current="page" role="link">Breadcrumb</span>
</nav>
