<div class="group" role="group" aria-label="Basic example">
  <%= button_tag "Profile",  class: "btn" %>
  <%= button_tag "Settings", class: "btn" %>
  <%= button_tag "Message",  class: "btn" %>
</div>