<div class="group" role="group" aria-label="Basic example">
  <%= button_tag "Profile",  type: "button", class: "btn" %>
  <%= button_tag "Settings", type: "button", class: "btn" %>
  <%= button_tag "Message",  type: "button", class: "btn" %>
</div>
