<div class="group-inline" style="max-inline-size: 320px" role="group" aria-label="Input example">
  <%= text_field_tag "email", nil, placeholder: "Email", class: "input" %>
  <%= button_tag "Subscribe", type: "button", class: "btn" %>
</div>
