<div class="group" role="group" aria-label="Basic example">
  <%= link_to "Profile",  "#", class: "btn" %>
  <%= link_to "Settings", "#", class: "btn" %>
  <%= link_to "Message",  "#", class: "btn" %>
</div>