<div class="group-vertical" style="max-inline-size: 120px" role="group" aria-label="Vertical example">
  <%= button_tag "Profile",  type: "button", class: "btn" %>
  <%= button_tag "Settings", type: "button", class: "btn" %>
  <%= button_tag "Message",  type: "button", class: "btn" %>
</div>
