<div class="group-vertical" style="max-inline-size: 120px" role="group" aria-label="Vertical example">
  <%= button_tag "Profile",  class: "btn", type: "button" %>
  <%= button_tag "Settings", class: "btn", type: "button" %>
  <%= button_tag "Message",  class: "btn", type: "button" %>
</div>
