<div class="group" role="group" aria-label="Basic example">
  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--user-circle" aria-hidden="true"></span>
    <span>Profile</span>
  <% end %>

  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--adjustments-vertical" aria-hidden="true"></span>
    <span>Settings</span>
  <% end %>

  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--arrow-down-tray" aria-hidden="true"></span>
    <span>Download</span>
  <% end %>
</div>
