<div class="group" role="group" aria-label="Basic example">
  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--circle-user" aria-hidden="true"></span>
    <span>Profile</span>
  <% end %>

  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--sliders-vertical" aria-hidden="true"></span>
    <span>Settings</span>
  <% end %>

  <%= button_tag class: "btn", type: "button" do %>
    <span class="icon icon--download" aria-hidden="true"></span>
    <span>Download</span>
  <% end %>
</div>