<label class="card card--selectable p-3 flex items-start shadow-none">
  <%= check_box_tag :enable_notifications, 1, true, class: "checkbox" %>
  <div class="flex flex-col mis-3">
    <h5 class="text-sm leading-none mbe-1 font-medium">Enable notifications</h5>
    <p class="text-sm text-subtle">You can enable or disable notifications at any time.</p>
  </div>
</label>