<% continents = [["American", "US"], ["European", "EU"], ["Asian", "AS"]] %>
<% brands = [
  ["Ford",          "data-dependee-value": "US"],
  ["Chevrolet",     "data-dependee-value": "US"],
  ["Dodge",         "data-dependee-value": "US"],
  ["BMW",           "data-dependee-value": "EU"],
  ["Mercedes-Benz", "data-dependee-value": "EU"],
  ["Volkswagen",    "data-dependee-value": "EU"],
  ["Toyota",        "data-dependee-value": "AS"],
  ["Honda",         "data-dependee-value": "AS"],
  ["Nissan",        "data-dependee-value": "AS"]
] %>

<div data-controller="cascade-select" class="flex flex-col gap-half">
  <template id="brand_options"><%= options_for_select(brands) %></template>

  <%= select_tag :continent, options_for_select(continents), include_blank: "Select a continent", class: "input", data: { action: "cascade-select#select", dependant_id: "car_brand" } %>
  <%= select_tag :car_brand, "", include_blank: "Select a brand", class: "input", data: { options_template_id: "brand_options" } %>
</div>