<div data-controller="cascade-select" class="flex flex-col gap-half">
  <template id="city_options"><%= options_for_select(cities) %></template>

  <%= select_tag :state, options_for_select(states), include_blank: "Select a state", class: "input", data: { action: "cascade-select#select" } %>
  <%= select_tag :city, "", include_blank: "Select a city", class: "input", data: { cascade_select_target: "dependant", dependee: "state", options: "city_options" } %>
</div>