<div data-controller="context-menu">
  <div class="card text-sm flex items-center justify-center" style="block-size: 150px; inline-size: 300px;" data-action="contextmenu->context-menu#show:prevent">
    Right click here
  </div>

  <div popover class="popover" style="--popover-size: 14rem;" data-context-menu-target="menu">
    <div class="menu" role="menu">
      <%= render partial: "menu_items", locals: { autofocus: false } %>
    </div>
  </div>
</div>