<div data-controller="context-menu">
  <div class="card text-sm flex items-center justify-center" style="block-size: 150px; inline-size: 300px;" data-action="contextmenu->context-menu#show:prevent">
    Right click here
  </div>

  <div popover class="popover" style="--popover-size: 14rem;" data-controller="menu" data-context-menu-target="menu" data-action="toggle->menu#reset keydown.up->menu#prev keydown.down->menu#next">
    <div class="menu" role="menu">
      <%= render "menu_items" %>
    </div>
  </div>
</div>