<button type="button" id="menu_button" class="btn" popovertarget="popover" aria-haspopup="true" aria-controls="menu">
  Open
</button>

<div popover id="popover" class="popover" style="--popover-size: 14rem;" data-controller="anchor" data-anchor-to-value="menu_button" data-anchor-placement-value="bottom-start">
  <div id="menu" class="menu" data-controller="menu" data-action="keydown->menu#navigate" role="menu" aria-labelledby="menu_button">
    <%= render partial: "menu_items" %>
  </div>
</div>
