<div data-controller="popover" data-popover-placement-value="bottom-start">
  <button type="button" id="menu_button" class="btn" data-popover-target="button" data-action="popover#toggle" aria-haspopup="true" aria-controls="menu">
    Open
  </button>

  <div popover class="popover" style="--popover-size: 14rem;" data-popover-target="menu">
    <div id="menu" class="menu" data-controller="menu" data-action="keydown.up->menu#prev keydown.down->menu#next" role="menu" aria-labelledby="menu_button">
      <%= render partial: "menu_items" %>
    </div>
  </div>
</div>
