<button type="button" class="btn" popovertarget="dropdown" aria-haspopup="true">
  Open
</button>

<div popover id="dropdown" class="popover popover--block-end-start" style="--popover-size: 14rem;" role="menu" aria-label="Menu">
  <div class="menu" data-controller="menu" data-action="keydown->menu#navigate">
    <%= render partial: "menu_items" %>
  </div>
</div>
