<div data-controller="popover" data-popover-placement-value="bottom-start">
  <button id="menu_button" class="btn" data-popover-target="button" data-action="popover#show" aria-haspopup="true" aria-controls="menu">
    Open dropdown
  </button>

  <div popover class="popover" style="--popover-size: 14rem;" data-controller="menu" data-popover-target="menu" data-action="toggle->menu#reset keydown.up->menu#prev keydown.down->menu#next">
    <div id="menu" class="menu" role="menu" aria-labelledby="menu_button">
      <%= render "menu_items" %>
    </div>
  </div>
</div>
